{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:import/recommended",
      "plugin:import/typescript"
    ],
    "overrides": [
      {
        "files": ["*.ts", "!*.d.ts"],
        "parserOptions": {
          "project": ["./tsconfig.json"]
        }
      }
    ],
    "rules": {
      "@typescript-eslint/no-namespace": "off",
      "@typescript-eslint/no-floating-promises": "error"
    }
  }